.redUser {
    background-color: coral;
}

.blueUser {
    /*background-color: cornflowerblue;*/
    background-color: deepskyblue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: greenyellow;
}